* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffff;
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 1440px;
  width: 100%;
  max-height: 810px;
  height: 100%;
  margin: auto;
  background-color: #00b4d8;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
nav .logo {
  font-family: "Baloo 2", cursive;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}
nav .menu-bar i {
  display: none;
  cursor: pointer;
  font-size: 22px;
  color: #ffffff;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav #click {
  display: none;
}
nav li {
  list-style-type: none;
  margin-left: 40px;
}
nav a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}
nav a:hover {
  color: #fee440;
}
nav a.active {
  color: #5c374c;
}

@media screen and (max-width: 800px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
  }
  nav .logo {
    font-size: 30px;
    margin-left: 20px;
  }
  nav .menu-bar i {
    display: block;
    margin-right: 30px;
  }
  nav ul {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 80px;
    left: -100%;
    display: block;
    background-color: #fac05e;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  nav ul li {
    margin: 40px 0px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a:hover {
    color: #93e1d8;
  }
  nav #click:checked ~ ul {
    left: 0%;
  }
}